---
title: 1 Jahr Transparenz
date: 2016-06-30 09:15 UTC
author: bro
tags:
---

Vor einem Jahr haben wir bei Panter den Entschluss gefasst, relevante Daten des
Unternehmens öffentlich zu publizieren.

Im Blogpost [Transparenz als Standard](http://blog.panter.ch/2015/11/10/transparenz-als-standard.html)
haben wir beschrieben, was wir damit erreichen möchten.

Das einjährige Jubiläum wollen wir nutzen um zu prüfen, welche der von uns
gesteckten Ziele wir erreicht haben und um einen Ausblick zu geben, was wir als
nächstes planen.

## Erreichte Ziele
1. Aufbau eines [Dashboards](https://dashboard.panter.ch) mit den aktuellen Daten
1. Laufende Erweiterung des [Dashboards](https://dashboard.panter.ch) mit neuen Zahlen
1. Durchgehende Erfassung und Aktualisierung der Stammdaten (Adresse, Geburtstag, Eintrittsdatum) unserer Mitarbeiter
1. Detailliertere Analyse unserer Performance
1. Konsequenteres Projekt-Controlling mit den Projektleitern und Besprechung am pan.h (wöchentliches Meeting zum operativen Geschäft)
1. Die Kultur der Offenheit wurde gestärkt
1. Trotz Offenlegung der Daten schützen wir die Privatsphäre unserer Mitarbeiter indem wir die Daten aggregiert veröffentlichen
1. Einführen von [Loomio](https://www.loomio.org) für die transparente Entscheidungsfindung
1. Erkenntnisse, welche Zahlen für das laufende Controlling noch fehlen
1. Blog mit mehreren Transparenz-relevanten Themen wie z.B. betr. Lohnmodell, welches auch viel Feedback generiert hat.
1. Öffentliche Diskussion der Blogentwürfe auf GitHub, beispielsweise zu [diesem Artikel](https://github.com/panter/blog.panter.ch/pull/23)

Zum Vergleich, das Dashboard im November 2015:

<a href="https://dashboard.panter.ch"><%= image_tag('dashboard.jpg') %></a>

und heute:

<a href="https://dashboard.panter.ch"><%= image_tag('dashboard_2016-05.jpg') %></a>

Die Themen werden in einem wöchentlichen Meeting besprochen, welches für alle
Panter zugänglich ist.

Ausserdem haben wir unser Tooling in diesem Zusammenhang diskutiert und
angepasst. So haben wir beispielsweise unseren Chat von Skype auf
[Rocket.Chat](https://rocket.chat) umgestellt.

## Herausforderungen
1. Die Aufbereitung der Daten ist aufwändig, da wir diese aus verschiedensten
Systemen aggregieren
1. Bei einer hohen Auslastung im Tagesgeschäft rückt das Thema schnell in den
Hintergrund

## Fazit
Die Offenlegung unserer Daten hat sich gelohnt , weil wir die Qualität unsere
Daten selber kritisch analysieren und stetig verbessern. Von einigen Kunden
haben wir bereits äusserst positives Feedback zu unserem Dashboard und Blog
erhalten.

Als nächstes planen wir noch mehr Daten zu veröffentlichen und die Aufbereitung
bestehender Daten weiter zu automatisieren.

Um neue Inputs zum Thema Transparenz zu erhalten wäre ausserdem ein Vortrag mit
anschliessender Diskussion interessant. Wer weiss, vielleicht wird das eines
der nächsten Themen unserer
[Pantalks](http://www.meetup.com/Pantalks-tech-non-tech-talks-Panter-AG-Zurich/).
