---
title: 1 Jahr Transparenz
date: 2016-07-25 09:15 UTC
author: bro
tags:
---

<%= image_tag('1_jahr_transparenz.jpg') %>

Der Entschluss, relevante Daten des Unternehmens öffentlich zu publizieren
wurde vor einem Jahr gefasst - höchste Zeit für einen Rückblick.

Im damaligen Blogpost [Transparenz als Standard](http://blog.panter.ch/2015/11/10/transparenz-als-standard.html)
wurden die Idee und die Ziele der angestrebten Transparenz beschrieben. Was wir
in diesem Jahr nun effektiv umgesetzt haben und wie es weiter gehen soll, haben
wir hier zusammengefasst.

## Die erreichten Ziele

1. Aufbau eines [Dashboards](https://dashboard.panter.ch) mit stets
   aktualisierten Daten
1. Laufende Erweiterung des [Dashboards](https://dashboard.panter.ch) mit neuen
   Datenquellen
1. Durchgehende Erfassung und Aktualisierung der Stammdaten (Adresse,
   Geburtstag, Eintrittsdatum) unserer Mitarbeiter
1. Detailliertere Analyse unserer Performance
1. Konsequenteres Projektcontrolling mit den Projektleitern und Besprechung an
   den wöchentlichen Treffen aller Mitarbeiter zum operativen Geschäft
1. Stärkung der Kultur der Offenheit
1. Trotz Offenlegung der Daten schützen wir die Privatsphäre unserer
   Mitarbeiter, indem wir die Daten aggregiert veröffentlichen
1. Einführen von [Loomio](https://www.loomio.org) für die transparente interne
   Entscheidungsfindung
1. Erkenntnisse, welche Zahlen für das laufende Controlling noch fehlen
1. Blogposts mit mehreren Transparenz-relevanten Themen wie beispielsweise
   derjenige über unser Lohnmodell, welcher viel Feedback generiert hat
1. Öffentliche Diskussion der Blogentwürfe auf Github, beispielsweise zu
   [diesem Artikel](https://github.com/panter/blog.panter.ch/pull/23)

Anhand des Dashboards kann man erkennen, wieviele Daten für die Öffentlichkeit
bereinigt und aufbereitet wurden. Zum Vergleich, das Dashboard im November
2015:

<a href="https://dashboard.panter.ch"><%= image_tag('dashboard.jpg') %></a>

und heute:

<a href="https://dashboard.panter.ch"><%= image_tag('dashboard_2016-07-25.png') %></a>

Ausserdem haben wir auch bei den von uns verwendeten Tools Anpassungen gemacht
und beispielsweise die tägliche interne Kommunikation von Skype auf
[Rocket.Chat](https://rocket.chat) umgestellt.

## Was sind die Herausforderungen

Wie erwartet ist die Aufbereitung der Daten aufwändig, da wir diese aus
verschiedensten Systemen aggregieren. Zudem rücken bei einer hohen Auslastung
im Tagesgeschäft die zu erledigen Aufgaben oft in den Hintergrund.

## Unser Fazit

Die Offenlegung unserer Daten hat sich gelohnt. Durch diese Transparenz sind
uns unsere Daten und deren Bedeutung allgegenwärtig und veranlassen uns zur
kritischen Analyse und stetigen Verbesserung der Werte. Die äusserst positiven
Kundenreaktionen zu unserem Dashboard und zum Panter-Blog freuen uns in erster
Linie natürlich sehr und veranlassen uns zur weiteren Ausarbeitung dieser
Thematik.

Die nächsten Schritte sind klar weitere Unternehmensdaten zu veröffentlichen
und die Datenaufarbeitung weiter zu automatisieren.

Der Entschluss, relevante Daten des Unternehmens öffentlich zu publizieren
wurde vor einem Jahr gefasst.

Auf ein weiteres Jahr!
