---
title: 1 Jahr Transparenz
date: 2016-06-08 19:15 UTC
author: bro
tags:
---

Vor einem Jahr haben wir bei Panter den Entschluss gefasst, relevante Daten des Unternehmens öffentlich zu publizieren. 

Im Blogpost [Transparenz als Standard](http://blog.panter.ch/2015/11/10/transparenz-als-standard.html) haben wir beschrieben, was wir damit erreichen möchten.

Das einjährige Jubiläum wollen wir nutzen um zu prüfen, welche der von uns gesteckten Ziele wir erreicht haben und einen Ausblick zu geben, was wir als nächstes planen.

## Erreichte Ziele
1. Aufbau eines [Dashboards](https://dashboard.panter.ch) mit den aktuellen Daten
1. Laufende Erweiterung des [Dashboards](https://dashboard.panter.ch) mit neuen Zahlen
1. Die Qualität unserer Daten hat sich verbessert, da wir diese für die Veröffentlichung geprüft und bereinigt haben (bspw. Freelancer in unserer Zeiterfassung deaktiviert, die nicht mehr für uns tätig sind)
1. Die Kultur der Offenheit wurde gestärkt
1. Trotz Offenlegung der Daten schützen wir die Privatsphäre unserer Mitarbeiter indem wir die Daten aggregiert veröffentlichen

Zum Vergleich, das Dashboard im November 2015:

<a href="https://dashboard.panter.ch"><%= image_tag('dashboard.jpg') %></a>

und heute:

<a href="https://dashboard.panter.ch"><%= image_tag('dashboard_2016-05.jpg') %></a>


## Herausforderungen
1. Die Aufbereitung der Daten ist aufwändig, da wir diese aus verschiedensten System aggregieren
1. Bei einer hohen Auslastung im Tagesgeschäft rückt das Thema schnell in den Hintergrund

## Fazit
Die Offenlegung unserer Daten hat sich gelohnt. Hauptsächlich, weil wir die Qualität unsere Daten somit selber kritisch analysieren und stetig verbessern. Dazu wie die Veröffentlichungen unseren Kunden und Partnern angekommen ist, haben wir noch wenig Feedback. Hauptsächlich deshalb, weil das Dashboard noch nicht in unsere Website eingebunden ist.

Als nächstes planen wir noch mehr Daten zu veröffentlichen und die Aufbereitung bestehender Daten weiter zu automatisieren.

Um neue Inputs zum Thema Transparenz zu erhalten wäre ausserdem ein Vortrag mit anschliessender Diskussion interessant. Wer weiss, vielleicht wird das eines der nächsten Themen unserer [PanTalks](http://www.meetup.com/Pantalks-tech-non-tech-talks-Panter-AG-Zurich/).
