---
title: Welcome to Middleman
pageable: true
published: false
---

.article-list.container
  - page_articles.each do |article|
    %article
      %h1
        %a{ href: article.url }
          = article.title
          %time
            = article.date.strftime('%b %e %Y')
      = article.summary
      = link_to '&raquo; Mehr lesen', article.url, class: 'more'
